header{
    height: 100vh;
    background: linear-gradient(90deg, #0F2027, #203A43, #2C5364);
}

/* Estilos del titulo animado */
header h1{
    color: white;
    font-size: 90px;
    font-family: 'ABeeZee', sans-serif;
}

.titulo{
    margin: auto;
    width: 89%;
    padding: 13%;
}

.ml2 {
    font-weight: 900;
    font-size: 4.6em;
    margin-top: 15px;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .navbar{
      color: white;
      background: #00c6ff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* Seccion sobre mi */
.tituloSkills{
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    justify-content: center;
}

.card{
    border: none;
}

.card-body p{
    font-size: 30px;
    font-family: 'ABeeZee', sans-serif;
}

.card-body{
    border: none;
}

.font{
    font-size: 60px;
}

/* animacion de la barra */

@keyframes carga {
    from {
        width: 0%;
    }

    to {
        width: 81%;
    }
}

@keyframes carga2 {
    from {
        width: 0%;
    }

    to {
        width: 79%;
    }
}

@keyframes carga3 {
    from {
        width: 0%;
    }

    to {
        width: 74%;
    }
}

@keyframes carga4 {
    from {
        width: 0%;
    }

    to {
        width: 69%;
    }
}

  

/* Certificados */

.certificadoTitulo{
    font-size: 50px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    margin-bottom: 12px;
}

.carousel{
    width: 100%;
    overflow: scroll;
  }
  
  .carousel::-webkit-scrollbar{
    width:0px;
  }
  
  .carousel__container{
    margin: 30px 0;
    padding: 20px;
    white-space: nowrap;
  }
  
  .carousel__item{
    width: 250px;
    height: 200px;
    background-color: red;
    border-radius: 20px;
    display: inline-block;
    transform-origin: center left;
    transition: .6s;
  }
  
  .carousel__item:hover ~ .carousel__item{
    transform: translate3d(160px, 0, 0);
  }
  
  .carousel__item:hover{
    transform: scale(1.5);
  }
  
  .carousel__container:hover .carousel__item{
    opacity: .6;
  }
  
  .carousel__container:hover .carousel__item:hover{
    opacity: 1;
  }

.imagenCarrusel{
    display: block;
    margin: auto;    
}

.icon{
    color: black;
    background: #c3c3c3;
    opacity: 2px;
    /* width: 12px; */
}

/* Style the Image Used to Trigger the Modal */
.imagen {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .imagen:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  /* Contact Me */
footer{
    font-family: 'ABeeZee', sans-serif;
    height: 60vh;
    background: #0072ff;
}

.piePagina{
    margin: auto;
    padding-top: 10%;
    width: 40%;
    text-align: center;
}

ul li{
    list-style: none;
    display: inline;
}
.contactos{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(120deg, trasnparent 50%, white 50%);
    background-size: 250%;
    transition: all 0.4s;
}

li:hover .contactos{
    background-position: 100%;
    color: #313131;
    transform: translateX(16px);
    text-decoration: none;
}

.font{
    font-size: 23px;
}

.madeBy{
    margin-top: 23px;
}

/* Media Querys */
@media (max-width: 380px){

    .titulo{
        margin: auto;
        width: 90%;
        padding-top: 70%;
    }

    header h1{
        color: white;
        font-size: 30px;
        font-family: 'ABeeZee', sans-serif;
    }

    .ml2 {
        font-weight: 100;
        font-size: 2.3em;
        margin-top: 15px;
      }

    .imagen{
        margin-top: 14px;
    }

    .piePagina{
        margin: auto;
        width: 90%;
        padding-top: 40%;
    }

    .contactos{
        display: inline-block;
        font-size: 0.9em;
    }

    .madeBy{
        font-size: 14px;
        margin-top: 23px;
    }

    .icon{
        color: black;
        background: #c3c3c3;
        opacity: 2px;
        width: 12px;
    }
}